.logo{
    font-weight: 800;
    font-family: 'Poppins', sans-serif;

}

.G{
    color: crimson;
}

Nav .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  font-family: Sans;
  width: 64px;
  height: 28px;
}
.link:hover{
color: crimson;
}

.link {
  text-decoration: none;
  margin-left: 15px;
  font-size: 20px;
  color: aliceblue;
  transition: color ease-in-out 300ms;
}

.active-link {
  text-decoration: none;
  margin-left: 15px;
  font-size: 20px;
  transition: color ease-in-out 300ms;
  color: crimson;
}

.signout-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-left: 20px;
  margin-top: 12px;
  font-size: 20px;
  cursor: pointer;
  color: aliceblue;
}